
.select2-container {
  width: 100% !important;
  .select2-selection {
    @extend .form-control;
    .select2-selection__rendered {
      color: inherit;
      line-height: inherit;
      padding-left: 0;
    }
    .select2-selection__arrow {
      height: $input-height-base - $padding-base-vertical / 2;
    }
    &.select2-selection--multiple {
      padding-top: 2px;
      padding-right: 0;
    }
  }
}

.input-group {
  .select2-container:nth-child(2) {
    .select2-selection {
      @include border-left-radius($input-border-radius);
    }
  }
}

.dropdown.input-group-addon {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  & > .btn {
    padding-top: 7px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

.input-daterange {
  display: flex;
  > .input-group-addon {
    flex: auto;
    border-left: none;
    border-right: none;
  }
}

.input-group-btn select {
  border-color: $input-group-addon-border-color;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 110px;
}
