$switch-height: $input-height-base !default;
$switch-width: $switch-height * 2 !default;
$switch-radius: $border-radius-base !default;
//$switch-radius: $switch-size / 2; // Round style
$switch-offset: 2px !default;
$switch-font-size: $switch-height / 2.2 !default;
$switch-on-text: 'ON' !default;
$switch-off-text: 'OFF' !default;

.sidus-switch {
  display: inline-block;
  vertical-align: middle;
  height: $switch-height;
  @include user-select(none);

  label {
    display: inline-block;
    border-radius: $switch-radius;
    background: $gray-light;
    height: $switch-height - 2;
    width: $switch-width;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    //box-shadow: inset 0px 1px 3px #666;

    .slider {
      display: block;
      height: $switch-height - $switch-offset * 3;
      width: $switch-height - $switch-offset * 3;
      border-radius: $switch-radius - 2;
      background: $body-bg;
      position: absolute;
      top: $switch-offset;
      right: $switch-offset;
      @include transition(all .2s ease);

      &:after {
        content: $switch-off-text;
        color: darken($gray-light, 20%);
        font-size: $switch-font-size;
        display: block;
        position: absolute;
        top: $switch-height / 10 - $switch-offset / 2;
        left: -$switch-height;
      }
    }
  }

  input[type=checkbox] {
    // Hide checkbox behind
    visibility: hidden;
    position: absolute;
    left: 20px;
    top: 5px;

    &:checked + label {
      background: $btn-primary-bg;

      .slider {
        background: $body-bg;
        right: $switch-width / 2 + $switch-offset * 2; // Additionnal border

        &:after {
          content: $switch-on-text;
          color: $body-bg;
          left: $switch-height;
        }
      }
    }
  }
}
