.tab-content {
  margin-top: 10px;
}

.nav.nav-tabs .tab-danger {
  a {
    color: $state-danger-text;
  }
  &.active a {
    color: $state-danger-text;
  }
}

.input-group {
  &.date {
    width: 220px;
  }
}

.list-group-item {
  .btn.pull-right, .btn-group.pull-right {
    margin-top: -7px;
    margin-right: -12px;
  }
}
