.tab-content {
  margin-top: 10px;
}

.input-group {
  &.date {
    width: 160px;
  }
  &.datetime {
    width: 220px;
  }
}

.list-group-item {
  .btn.pull-right, .btn-group.pull-right {
    margin-top: -7px;
    margin-right: -12px;
  }
}
