@import "compass/css3/transition";
@import "partials/bootstrap_collection";
@import "partials/switch";
@import "partials/theme";
@import "partials/wysiwyg";
@import "partials/select2_autocomplete";

.clear {
  clear: both;
}
